[user]
	email = mpaolini@users.noreply.github.com
	name = Marco Paolini
	signingkey = CF66ACE507DF1172735D5D32A579E99203539FA9
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	gpgsign = 0
[alias]
	quick-stats = ! /usr/local/bin/git-quick-stats
